/* 4-1 */
.lesson-four-task-one button:hover {
  color: red;
  background: yellow;
}

/* 4-2 */
.lesson-four-task-two h1:hover {
  background: green;
}

/* 4-3 */
.lesson-four-task-three .link:visited {
  color: purple;
}

/* 4-4 */
.lesson-four-task-four #sidebar .link:link {
  color: red;
}

/* 4-5 */
.lesson-four-task-five .btn:active {
  background: blue;
}

/* 4-6 */
.lesson-four-task-six .btn:focus {
  color: orange;
  background: orange;
}

/* 4-7 */
.lesson-four-task-seven #target:target {
  background: green;
  color: white;
}

/* 4-8 */
.lesson-four-task-eight
  input[type='checkbox']:checked
  ~ #target {
  color: white;
  background: blue;
}

/* 4-9 */
.lesson-four-task-nine p:lang(uk) {
  color: blue;
}

/* 4-10 */
.lesson-four-task-ten .form-group .form-control:enabled {
  color: red;
  background-color: yellow;
}

/* 4-11 */
.lesson-four-task-eleven button:disabled {
  background: yellow;
}

/* 4-12 */
.lesson-four-task-twelve input:read-write {
  background: yellow;
}

/* 4-13 */
.lesson-four-task-thirteen input:read-only {
  background: yellow;
}

/* 4-14 */
.lesson-four-task-fourteen input:valid {
  background: green;
}
.lesson-four-task-fourteen input:invalid {
  background: red;
}

/* 4-15 */
.lesson-four-task-fifteen input:optional {
  background: red;
}

/* 4-16 */
.lesson-four-task-sixteen input:out-of-range {
  color: red;
}

/* 4-17 */
.lesson-four-task-seventeen input:in-range {
  color: red;
}

/* 4-18 */
.lesson-four-task-eighteen input:placeholder-shown {
  background: red;
}

/* 4-19 */
.lesson-four-task-nineteen button:focus-within {
  color: white;
  background: yellow;
}

/* 4-20 */
.lesson-four-task-twenty input:invalid {
  background: red;
}
